<span class="associated-products" ng-controller="recommendationsController" ng-show="isBlockVisible" ng-init="getRecommendations({ provider : 'DynamicAssociations' , productIds : '{{product_ids}}' })">
<hr />
{% include 'product-list-recommendations' %}
</span>

