<div class="grid-item large--one-fifth medium--one-third" id="badges">
    {% include 'badges' %}
    {% if product.featured_image %}
        <img ng-src="{{ product.featured_image | img_url: "168x168" }}" fallback-src="{{ product.featured_image | img_url }}" alt="{{ product.featured_image.alt | escape }}" />
    {% else %}
        <div class="no-product-image">
            <img src="{{ 'images/no-image.svg' | asset_url }}" />
        </div>
    {% endif %}

</div>