  <div class="one-half">
    {% form 'phone_number' %}
      <h3>{{ 'customer.addresses.new_phone' | t }}</h3>      
      <input type="text" name="customer[phoneNumber]" placeholder="{{ 'contact.form.phone' | t }}" autofocus>
      <input type="submit" value="{{ 'verify.code.send_code' | t }}" class="btn">    
    {% endform %}
  </div>