<button id="addToWishlist" class="btn btn-clearfix list-btn-alignment" type="button" 
        ng-disabled="$ctrl.buttonInvalid"
        ng-click="$ctrl.addProductToWishlist()">
            <span class="fa fa-file-text list-icon-clearfix"></span>
            <span>{{ 'products.list.add_to_myList' | t }}</span>
</button> 
