  <div class="one-half">
      <h3>{{ 'customer.addresses.new_phone' | t }}</h3>
      <form name="verifyCodeForm" method="POST">
      <input type="text" name="PhoneNumber" placeholder="{{ 'contact.form.phone' | t }}" autofocus>
      <input type="submit" value="{{ 'verify.code.send_code' | t }}" class="btn">
      </form>
  </div>