<script>
    (function () {
        var renderApiUrl = "/designer-preview/";

        function getUrl(part) {
            return renderApiUrl + part;
        }

        var app = angular.module("storefrontApp");

        app.controller("previewController", ["$http", '$scope', '$window', function ($http, $scope, $window) {
            $scope.title = "";
            $scope.blocks = []; // html strings

            $window.addEventListener('message', function (e) {
                var data = event.data;
                dispatchEvent(data.type, data);
            });

            function dispatchEvent(type, data) {
                $scope.$apply(function () {
                    switch (type) {
                        case "page":
                            reloadPage(data.page);
                            break;
                        case "move":
                            console.log("move block")
                            break;
                        case "add":
                            var model = createBlockModel(data.block);
                            $scope.blocks.push(model);
                            renderBlock(model);
                            break;
                        case "remove":
                            // find block in $scope.blocks by data.blockId
                            // remove it (splice)
                            break;
                    }
                });
            }

            function reloadPage(page) {
                // { settings, sections }
                $scope.title = page.settings.title;
                $scope.blocks = [];
                for (var i = 0; i < page.sections.length; i++) {
                    var section = page.sections[i];
                    var model = createBlockModel(section);
                    $scope.blocks.push(model);
                }
                renderBlocks();
            }

            function renderBlocks() {
                for (var i = 0; i < $scope.blocks.length; i++) {
                    var block = $scope.blocks[i];
                    renderBlock(block)
                }
            }

            function renderBlock(block) {
                $http.post(getUrl("block"), block.source).then(function (result) {
                    block.result = result.data;
                })
            }

            function createBlockModel(section) {
                return {
                    id: section.id,
                    source: section,
                    result: ''
                };
            }

        }]);

    })();
</script>

{% raw %}

<div class="grid" ng-controller="previewController">

    <div class="grid-item large--two-thirds push--large--one-sixth">

        <h1>{{ title }}</h1>

        <div id="preview-container">
            <div ng-repeat="item in blocks" ng-bind-html="item.result"></div>
        </div>

    </div>

</div>

<style>
    #preview-container>div>div {
        margin: 20px 0;
    }
</style>

{% endraw %}

