<div class="jsonpage-block" style="align: center;">

    Hello from category with id {{ block.category }}

</div>

{% comment %}

{"id": "name","label": "Block name","type": "string","default": "Category"},
{"id": "title","label": "Title","type": "string"},
{"id": "categoryId","label": "Category id","type": "string","placeholder": "Enter category id"}

{% endcomment %}
