<div class="jsonpage-block">
    {{ block.content }}
</div>


{% comment %}

{"id": "name","label": "Block name","type": "string","default": "Text"},
{"id": "content","label": "Content","type": "text","default": "Lorem ipsum dolor sit amet, consectetur ..." }

{% endcomment %}
