<div class="jsonpage-block">

    <div class="fotorama"
         {% if block.autoRotate %} data-autoplay="{{ block.rotationFrequency }}" data-loop="true" {% endif %}>
        {% for image in block.images %}
        <img src="{{ image.url }}" data-caption="{{ image.title }}" />
        {% endfor %}
    </div>
</div>

<script>
    $(".fotorama").fotorama();
</script>


{% comment %}

{ "id": "name", "label": "Block name", "type": "string", "default": "Image carousel" },
{ "id": "width", "label": "Block width", "type": "select", "default": "screen",
        "options": [{"label": "Screen", "value": "screen"}, {"label": "Container","value": "container"},{"label": "Small","value": "small"}]},
{ "id": "rotate", "label": "Auto-rotate images", "type": "checkbox", "default": true },
{ "id": "frequency", "label": "Rotation frequency", "type": "select", "default": "5000",
        "options": [{"label": "5000","value": "5 seconds"},{"label": "6000","value": "6 seconds"},
                    {"label": "7000","value": "7 seconds"},{"label": "8000","value": "8 seconds"},
                    {"label": "9000","value": "9 seconds"}]},
{ "id": "images", "label": "Images", "type": "list", "addText": "Add image", "removeText": "Remove image", "displayField": "title",
        "element": [{"id": "title","label": "Title","type": "string"},
                    {"id": "url","label": "Upload picture","type": "image","previewWidth": 120,"previewHeight": 80},
                    {"id": "content","label": "Content","type": "text"}],
        "default": [{"url": "http://dev-cms-vm.westeurope.cloudapp.azure.com/v2/admin/Assets/blogs/Galunggung.jpg"},
                    {"url": "http://dev-cms-vm.westeurope.cloudapp.azure.com/v2/admin/Assets/blogs/Hopetoun_falls.jpg"},
                    {"url": "http://dev-cms-vm.westeurope.cloudapp.azure.com/v2/admin/Assets/blogs/Bachalpsee_reflection.jpg"}]}

{% endcomment %}
